// Colors
// $white: #ffffff;
// $teal: #42b4b7;
// $teal-dark: #1c9295;
// $bg: #d7def7;
// $bg-light: #f5f8ff;
// $primary-light: $white;
// $primary: $teal;
// $primary-dark: $teal-dark;
// $light: $bg-light;
// $gray-light: #efefef;
// $gray: #aaa;
// $save: #ec5766;
// $circle-color: #42b4b7;
// $header-color: #333333;
// $font-color: #444444;

// Font Sizes
$font-light-color: #888888;
$font-primary-color: #4b2e83;
$font-white-color: #ffffff;

$primary-color: #4b2e83;

$gray-shadow: #c4c4c4;

@mixin messageNameFontSize {
  font-size: 14px;
}

@mixin messageTimeFontSize {
  font-size: 10px;
}

// Paddings / Margins

@mixin InputBox {
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

// message alignments
@mixin message {
  max-width: 60%;
  letter-spacing: 0.5px;
  clear: both;
}

@mixin ownMessage {
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}

@mixin otherMessage {
  margin-left: 0;
  margin-right: auto;
  text-align: left;
}

@mixin messageContent {
  background-color: #c1b5d9;
  border-radius: 10px;
  justify-content: space-between;
  flex-wrap: wrap;

  p {
    margin: 10px;
  }
}
