// Colors
$white: #ffffff;
$teal: #42b4b7;
$teal-dark: #1c9295;
$bg: #d7def7;
$bg-light: #f5f8ff;
$primary-light: $white;
$primary: $teal;
$primary-dark: $teal-dark;
$light: $bg-light;
$gray-light: #efefef;
$gray: #aaa;
$save: #ec5766;
$circle-color: #42b4b7;
$header-color: #333333;
$font-color: #444444;

// Font Sizes

// Paddings / Margins
